input[type=text], input[type=password], input[type=textarea], input[type=email], input[type=number], textarea {
	padding: 8px;
	font-size: 11pt;
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	box-shadow: inset 0 0 3px #DDDDDD, 1px 1px 2px #DDDDDD;
	margin-bottom: 5px;
}
input[type=text]:hover, input[type=password]:hover, input[type=textarea]:hover, input[type=email]:hover, input[type=number]:hover, textarea:hover {
	border-color: #AAAAAA;
}
input[type=text]:focus, input[type=password]:focus, input[type=textarea]:focus, input[type=email]:focus, input[type=number]:focus, textarea:focus {
	border-color: #888888;
}

textarea {
	width: calc(100% - 16px);
	resize: vertical;
	height: 100px;
	
    transition: height 0s;
}

input[type=button], input[type=submit] {
	padding: 8px;
	color: black;
	font-weight: bold;
	border: 1px solid #C07001;
	background: #F9BE2F;
	background: -webkit-gradient(linear, left top, left bottom, from(#FCCF52), to(#F5A904));
	background: -moz-linear-gradient(top,  #FCCF52,  #F5A904); 
	box-shadow: 0 1px 1px #C3C7CD, inset 0 1px 1px #FEECBB;
}
input[type=button]:hover, input[type=submit]:hover {
	border: 1px solid #C17909;
	background: #F9C64C;
	background: -webkit-gradient(linear, left top, left bottom, from(#FCDB80), to(#F6B217));
	background: -moz-linear-gradient(top,  #FCDB80,  #F6B217); 
	box-shadow: 0 2x 2px #C3C7CD, inset 0 1px 1px #FEF1CD;
}
input[type=button]:active, input[type=submit]:active {
	border: 1px solid #AB7519;
	background: #DA9E1E;
	background: -webkit-gradient(linear, left top, left bottom, from(#DDAA38), to(#D89003));
	background: -moz-linear-gradient(top,  #DDAA38,  #D89003); 
	box-shadow: inset 0 1px 1px #BA9032;
}
input[type=button]:disabled, input[type=submit]:disabled {
	border: 1px solid #D7D7D7;
	background: #E3E3E3;
	background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#DEDEDE));
	background: -moz-linear-gradient(top,  #E9E9E9,  #DEDEDE); 
	box-shadow: inset 0 1px 1px #F6F6F6;
}