/* basic, reuseable CSS in this file */


/* text input */
input[type=text], input[type=password], input[type=textarea], input[type=email], input[type=number], textarea, select {
  padding: 8px;
  font-size: 9pt;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  box-shadow: inset 0 0 3px #DDDDDD, 1px 1px 2px #DDDDDD;
  margin-bottom: 5px;
}
input[type=text]:hover, input[type=password]:hover, input[type=textarea]:hover, input[type=email]:hover, input[type=number]:hover, textarea:hover, select:hover {
  border-color: #AAAAAA;
}
input[type=text]:focus, input[type=password]:focus, input[type=textarea]:focus, input[type=email]:focus, input[type=number]:focus, textarea:focus, select:focus {
  border-color: #888888;
}
input[type=text].unremarkable, input[type=password].unremarkable, input[type=textarea].unremarkable, input[type=email].unremarkable, input[type=number].unremarkable, textarea.unremarkable {
  border: none;
  box-shadow: none;
  padding: 0;
}

select {
  border-radius: 0;
  padding: 7px;
}

textarea {
  width: calc(100% - 16px);
  resize: vertical;
  height: 100px;

  transition: height 0s;
}


/* buttons */

input[type=button], input[type=submit], .button {
  padding: 8px;
  font-size: 9pt;
  color: black;
  font-weight: bold;
  border: 1px solid #C07001;
  background: #F9BE2F;
  background: -webkit-gradient(linear, left top, left bottom, from(#FCCF52), to(#F5A904));
  background: -moz-linear-gradient(top,  #FCCF52,  #F5A904);
  box-shadow: 0 1px 1px #C3C7CD, inset 0 1px 1px #FEECBB;
}
input[type=button].inline, input[type=submit].inline, input[type=text].inline, input[type=password].inline, input[type=textarea].inline, input[type=email].inline, input[type=number].inline, textarea.inline, .button.inline {
  margin-top: -7px;
  margin-bottom: -7px;
}
input[type=button].inline-both, input[type=submit].inline-both, input[type=text].inline-both, input[type=password].inline-both, input[type=textarea].inline-both, input[type=email].inline-both, input[type=number].inline-both, textarea.inline-both, .button.inline-both {
  margin: -7px;
}
input[type=button]:hover, input[type=submit]:hover, .button:hover {
  border: 1px solid #C17909;
  background: #F9C64C;
  background: -webkit-gradient(linear, left top, left bottom, from(#FCDB80), to(#F6B217));
  background: -moz-linear-gradient(top,  #FCDB80,  #F6B217);
  box-shadow: 0 2x 2px #C3C7CD, inset 0 1px 1px #FEF1CD;
}
input[type=button]:active, input[type=submit]:active, .button:active {
  border: 1px solid #AB7519;
  background: #DA9E1E;
  background: -webkit-gradient(linear, left top, left bottom, from(#DDAA38), to(#D89003));
  background: -moz-linear-gradient(top,  #DDAA38,  #D89003);
  box-shadow: inset 0 1px 1px #BA9032;
}
input[type=button]:disabled, input[type=submit]:disabled, .button:disabled {
  color: #6D6D6D;
  border: 1px solid #D7D7D7;
  background: #E3E3E3;
  background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#DEDEDE));
  background: -moz-linear-gradient(top,  #E9E9E9,  #DEDEDE);
  box-shadow: inset 0 1px 1px #F6F6F6;
}

/* red button */
input[type=button].red, input[type=submit].red {
  border-color: #C00101;
  background: #F54A4A;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC6969), to(#EF2626));
  background: -moz-linear-gradient(top,  #FC6969,  #EF2626);
  box-shadow: 0 1px 1px #C3C7CD, inset 0 1px 1px #FEBBBB;
}
input[type=button].red:hover, input[type=submit].red:hover {
  border-color: #C10909;
  background: #DA2E2E;
  background: -webkit-gradient(linear, left top, left bottom, from(#F99999), to(#F23737));
  background: -moz-linear-gradient(top,  #F99999,  #F23737);
  box-shadow: 0 2x 2px #C3C7CD, inset 0 1px 1px #FEBBBB;
}
input[type=button].red:active, input[type=submit].red:active {
  border-color: #AB1919 ;
  background: #DA9E1E;
  background: -webkit-gradient(linear, left top, left bottom, from(#DD3838), to(#D80303));
  background: -moz-linear-gradient(top,  #DD3838,  #D80303);
  box-shadow: inset 0 1px 1px #BA3232;
}


/* general stuff */


.initial-width { width: initial; }
.initial-height { height: initial; }

.display-block { display: block; }
.display-inline-block { display: inline-block; }
.display-none { display: none; }

.text-align-center { text-align: center; }

.italic { font-style: italic; }

.float-right { float: right; }
.float-left { float: left; }

.clear-both { clear: both; }

div.center { margin: auto; }

.width-100 { width: 100%; }
.width-33 { width: 33.3333%; }

.width-100px { width: 100px; }
.height-50px { height: 50px; }

.inline { display: inline; }

.padding-0 { padding: 0 !important; }
.margin-0 { margin: 0 !important; }

.overflow-hidden { overflow: hidden; }


/* loading animation */

/* SpinKit: three bounce (https://github.com/tobiasahlin/SpinKit/) */
.sk-three-bounce {
  margin: 40px auto;
  width: 70px;
  text-align: center;
}
.sk-three-bounce.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0;
  z-index: 10000;
  padding-top: calc(25% - 9px);
  margin: 0 auto;
  opacity: 0;
  font-size: 14pt;
  color: #444444;
}

.sk-three-bounce .sk-child {
  width: 14px;
  height: 14px;
  background-color: #4F5B93;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
