/* website specific css file */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  word-wrap: break-word;

  
  /* set transition to any element */
  /*-moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;*/
}

html, body, #main-wrapper {
  background-color: #ECEFF1;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

#main-wrapper {
  position: relative;
  min-height: calc(100% - 56px);
  padding-top: 56px;
  width: 100%;

  transition-property: transform;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 180);
}

a:hover {
  color: #0000FF;
}

a:active {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 0, 180);
}

/* footer */

#footer-wrapper {
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  max-height: 111px;
}

#footer-wrapper > div.box {
  position: relative;
  left: -100%;
  width: 200%;
}

.footer {
  text-align: center;
  color: #555555;
  font-weight: bold;
}
.footer a {
  text-decoration: none;
  color: #555555;
  font-weight: normal;
}
.footer a:hover {
  color: #000000;
}
.footer hr {
  width: 300px;
  margin: 8px auto;
}


.icon-button {
  width: 32px;
  height: 32px;
}

hr {
  background: #38426F;
  width: 100%;
  height: 1px;
  border-width: 0;
  opacity: .5;
}

h4 {
  margin-bottom: 14px;
}

ul {
  list-style: none;
}

ul.social-icons li {
  float: left;
  padding: 20px;
}

.bold {
  font-weight: bold !important;
}

.content-width {
  width: calc(100% - 50px);
  max-width: 1170px;
  margin: auto;
}
.main.content-width {
  padding-bottom: 136px;
}

.navbar {
  position: fixed;
  z-index: 200;
  top: 0;

  height: 56px;

  width: 100%;

  padding: 0;

  font-size: 12pt;

  background-color: #8892BF;
  border-style: solid;
  border-width: 0;
  border-color: #4F5B93;
  box-shadow: 0 1px 8px rgba(0,0,0,.3);

}

.navbar .navbar-inner {
  position: relative;
}

.navbar .navbar-inner li {
  color: #FFFFFF;
  opacity: 0.8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-weight: bold;
  
  transition-duration: 0s;
}
.navbar .navbar-inner li:hover, .navbar .navbar-inner li:hover .nav-image:hover  {
  opacity: 1;
}
.navbar .navbar-inner li:hover {
  /*background: rgba(79, 91, 147, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(111, 123, 179, 0.5)), to(rgba(79, 91, 147, 0.5)));
  background: -moz-linear-gradient(top, rgba(111, 123, 179, 0.5), rgba(79, 91, 147, 0.5));*/
}

.navbar .navbar-inner .logo {
  float: left;
  height: 40px;
  margin: 8px 30px 5px 0;
}

.navbar .navbar-inner .nav {
  position: relative;
  margin: 0;
  list-style: none;
}
.navbar .navbar-inner .nav.left {
  left: 0;
  float: left;
}
.navbar .navbar-inner .nav.right {
  right: 0;
  float: right;
}
.navbar .navbar-inner .nav li, .navbar .navbar-inner .nav a {
  float: left;
}

.navbar .navbar-inner .nav li {
  padding: 22px 12px 18px;
  line-height: 16px;
  font-size: 16px;
}
.navbar .navbar-inner .nav li.visited {
  color: #fff;
  background-color: #4F5B93;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .navbar-inner .nav li.visited, .navbar .navbar-inner .nav li.visited .nav-image {
  cursor: default;
  opacity: 1 !important;
}

.navbar .menu-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 8px;
  left: 15px;
  padding: 10px;
  display: none;
  cursor: pointer;
}


.nav-img-li {
  padding: 12px 10px 9px !important;
}

.nav-image {
  opacity: 0.8;
  height: 32px;
  width: 32px;
  transition-duration: 0s;

  -webkit-filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
}


body > .main {
  position: relative;
  margin-bottom: 57px;
  margin-bottom: 25px;
}


/* box */

.box {
  position: relative;
  margin: 25px 0 0 0;
  text-align: left;
  color: #263238;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.box.fullscreen {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 250 !important;
  height: 100%;
}
.box.fullscreen .box-body {
  height: calc(100% - 81px);
  overflow: auto;
}

.box-body {
  transition: box-shadow 0.2s ease-in;
}
.box-body.green-shadow {
  box-shadow: inset 5px 5px 10px #00C100, inset -5px -5px 10px #00C100;
}

.box .box-head {
  line-height: 18px;
  font-weight: bold;
  padding: 15px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECEFF1;
}
.box .box-head.active {
  border-bottom: 0;
  background-color: #4F5B93;
  color: white;
}
.box .box-head.green {
  background-color: #5DCC57;
}
.box .box-head.red {
  background-color: #EF3939;
}
.box .box-head img.box-head-background {
  margin: -7px;
  margin-right: 7px;
}
.box .box-head img:first-child:not(.box-head-right-icon):not(#word-list-menu-back) {
  height: 20px;
  width: 20px;
  margin: 0px 8px -4px 0px;
  opacity: 0.8;
}
.box .box-head img.box-head-right-icon, #word-list-menu-back {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 12px;
  opacity: 0.19;
  display: none;
  cursor: pointer;
}

.inline-icon {
  height: 24px;
  width: 24px;
  margin-bottom: -8px;
  margin-right: 5px;
}

#word-list-menu-back {
  left: 12.5px !important; 
  display: block;
  opacity: .8;
}

#word-list-title-name {
  padding: 0 0 0 32.5px;
}

#word-list-menu-back:hover {
  opacity: 1;
}

.icon.pencil {
  background-image: url('/img/pencil.svg');
}
.icon.close {
  background-image: url('/img/close.svg');
}
.icon.check {
  background-image: url('/img/check.svg');
}
.icon.rubbish {
  background-image: url('/img/rubbish.svg');
}
.icon.upload {
  background-image: url('/img/upload.svg');
}

.icon {
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
}

.table-icon {
  height: 24px;
  width: 24px;
  margin: -6px 0;
  opacity: .3;
  background-color: rgba(0,0,0,0);
  height: 20px;
  width: 20px;
  margin: -7px 0;
  padding: 5px;
  opacity: .19;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  visibility: hidden;
}

tr.show-icons .table-icon {
  visibility: visible;
  opacity: .5;
}

.table-icon:hover, tr.show-icons .table-icon:hover {
  opacity: 0.7;
}

.table-icon:active, tr.show-icons .table-icon:active {
  opacity: 1;
}

.table-icon:disabled, tr.show-icons .table-icon:disabled {
  cursor: default;
  opacity: .7;
}


tr:hover .table-icon {
  visibility: visible;
}


.box .box-head img.box-head-right-icon:hover {
  opacity: .7;
}
.box .box-head img.box-head-right-icon:active {
  opacity: 1;
}
.box .box-head img.box-head-right-icon:last-child {
  right: 12.5px;
}

.box .box-head img.box-head-right-icon:nth-last-child(2) {
  right: 49px;
}

.box .box-head img.box-head-left-icon {
  left: 12.5px;
  opacity: 0.9;
}

.box .box-body {
  padding: 15px;
  background-color: #FFFFFF;
  font-size: 11pt;
}

.box .box-body.font-size-100 {
  font-size: 100%;
}

.box .box-body[data-start-state=collapsed] {
  display: none;
}

.box .box-body hr.full-width {
  height: 0;
  border-top: 1px solid #ECEFF1;
  margin: 15px -15px;
  width: auto;
}

/* box-table */
.box .box-table {
  width: 100%;

  border-spacing: 0;
  border-collapse: separate;
}

.box .box-table td, .box .box-table th {
  padding: 11px;
}


@media screen {
  .box .box-table.cursor-pointer td {
    cursor: pointer;
  }
}
.box .box-table.cursor-pointer tr.cursor-default th, .box .box-table.cursor-pointer tr.cursor-default td {
  cursor: default;
}

.box .box-table tr:hover:not(.cursor-default), .box .box-table tr.active {
  background-color: rgba(136, 149, 189, 0.05);
}

.box .box-table tr:not(:first-child) td {
  /*border-top: 1px solid #8892BF;*/
}

.box .box-table tr.active {
}
.box .box-table tr.active td:first-child {
  box-shadow: inset 3px 0 0 #4F5B93;
}

.box-table.button-right-column td:last-child {
  text-align: right;
  padding-right: 5px;
  white-space: nowrap;
}

.box-table.clickable td:hover:not(.cursor-default), .box-table.cursor-pointer tr:hover:not(.cursor-default) {
  color: #4F5B93;
}

.left-column {
  float: left;
  width: calc(70% - 25px);
}
.right-column {
  float: right;
  width: 30%;
}

.left-column-small {
  float: left;
  width: 30%;
}
.right-column-big {
  float: right;
  width: calc(70% - 25px);
}


.left-column.width-50 {
  width: calc(50% - 25px);
}
.right-column.width-50 {
  width: 50%;
}


.left-column.width-30 {
  width: 30%;
}
.right-column.width-70 {
  width: calc(70% - 25px);
}


#background-black-overlay {
  z-index: 1000; 

  height: 100%; 
  width: 100%; 
  position: fixed; 
  top: 0px; 
  left: 0px;  
  
  background-color: rgba(0, 0, 0, 0.8);
}


#background-black-overlay.display-none {
  display: none;
}



form table {
  width: 100%;
}

form table input {
  width: calc(100% - 16px);
}

p:not(:last-child), ul.normal:not(:last-child) {
  margin-bottom: 24px;
}

.main > div:not(:first-child) {
  display: none;
}

.screenshot {
  max-width: 100%;
  cursor: pointer;
}

.language-flag {
  height: 13px; 
  margin-bottom: -1px;

}


#word-list-table tr.pending {
  transition: opacity ease-in .2s;
}
#word-list-table tr.pending {
  opacity: .5;
}

#word-list-table .pending td:nth-child(4) > * {
  display: none;
}


.big-search-field-wrapper > img {
  height: 24px;
  width: 24px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: -5px;
  opacity: .5;
}
.big-search-field-wrapper > input {
  height: 24px;
  border: none;
  box-shadow: none;
  font-size: 20px;
  padding: 8px 0;
  color: #434343;
  width: calc(100% - 62px);
}



ul.normal {
  list-style-type: disc;
  margin-left: 25px;
}

img.right-column-img {
  width: 100%;
}
div.right-column-img-wrapper {
  width: 50%;
  max-width: 315px;
  margin: auto;
  margin-bottom: 25px;
}

.cookie-header {
  color: #FFFFFF;
  background: #222222;
  border-bottom: 1px solid #000000;
  padding: 25px 0 25px;
  width: 100%;
  z-index: 110;
  transition: opacity 0.5s;
}

.cookie-header table {
  width: 100%;
}

.cookie-header td:last-child {
  padding-left: 25px;
  text-align: right;
}
.cookie-header a, .cookie-header a:visited {
  color: #31A8F0;
  text-decoration: none;
}
.cookie-header a:hover {
  color: #DDDDDD;
}
.cookie-header a:active {
  color: #FFFFFF;
}

.small-exp-col-icon {
  height: 16px;
  width: 16px;
  opacity: 0.6;
  cursor: pointer;
}

.checkbox {
  height: 8px;
  width: 8px;
  display: inline-block;
  background-image: url('/img/check-16.svg');
  background-size: contain;
}

.small-menu {
  padding: 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.small-menu input:not(:last-child) {
  margin-bottom: 5px; 
}

.small-menu-open-image {
  cursor: pointer;
  height: 25px;
  margin-top: -7px;
  margin-bottom: -7px;
}

.feed-table td:first-child, .word-lists-folder-view-table td:first-child {
  text-align: center;
  width: 20px;
}
.feed-table img, .word-lists-folder-view-table img {
  height: 20px;
  opacity: 0.9;
}
.feed-time {
  color: #5F5E5E;
}


.special-chars {
  display: inline-block;
  padding: 0  5px;
  margin-top: 0;
}
.special-chars.display-none {
  display: none;
}

.special-chars > select {
  margin: 10px 5px;
}

.special-chars > div {
  display: none;
}

.special-chars > div > div {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  color: #4F5B93;
}


.special-chars > div > div:hover {
  color: #000;
  background-color: #EEE;
}

#query-show-special-chars {
  float: right;
}


.word-import-box-inner-wrapper {
  margin: 100px;
  max-height: calc(100% - 200px);
  overflow: auto;
}


/* home tour */

.tour-container h2 {
  font-size: 28px;
  color: #222 !important;
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}

.tour-element > hr {
  background: #CCCCCC;
}

.tour-container img.full-width {
  margin-left: -15px;
  width: calc(100% + 30px);
}

.tour-container table.headline {
  width: 100%;
}

.tour-container table.headline td:first-child {
  width: 50%;
  text-align: right !important;
}

.tour-container table.headline td:first-child h2 {
  text-align: right;
}

.tour-container table.headline td:last-child {
  text-align: left;
}

.tour-element .box {
  margin-top: 0;
}

.tour-element .col-l, .tour-element .col-r {
  margin-top: 30px;
}

.tour-element .col-l {
  float: left;
  width: 30%;
}

.tour-element .col-r {
  float: right;
  width: calc(70% - 40px);
}


#words-add-form.comfortable input[type=text] {
    width: calc(100% - 16px);
}


svg line.crisp {
  shape-rendering: crispEdges;
}


svg.word-known-graph, svg.selected-words-avg-graph {
  padding: 5px;
  width: calc(100% - 10px);
}

svg.word-known-graph circle, svg.selected-words-avg-graph circle {
  fill: #4F5B93;
}

svg.word-known-graph line, svg.selected-words-avg-graph line {
  stroke: #4F5B93;
}

svg.word-known-graph {
  height: 28px;
}

svg.word-known-graph line {
  stroke-width: 2px;
}

svg.selected-words-avg-graph { 
  height: 150px;
}

svg.selected-words-avg-graph line { 
  stroke-width: 2px;
}

#scroll-top-button {
  z-index: 200;
  position: fixed;
  right: 40px;
  bottom: -64px;
  width: 32px;
  height: 32px;
  padding: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 28px;
  cursor: pointer;
  background-color: #AAA;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#scroll-top-button > img {
  height: 32px;
  width: 32px;
  transform: rotate(90deg);
  opacity: .8;
}

#scroll-top-button:hover {
  background-color: #4F5B93;
}


#scroll-top-button:hover > img {
  opacity: 1;
}

#scroll-top-button.scrolled{
    opacity:1;
    bottom: 40px;
}



/* tooltip */
*:hover > span.tooltip {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.7s;
}

span.tooltip {
  text-decoration: none;
  font-weight: normal;
  z-index: 170;
  visibility: hidden;
  background-color: #4F5B93;
  padding: 8px;
  position: absolute;
  display: block;
  color: #FFF;
  text-align: center;
  opacity: 0;
  transition: all ease-in 0.2s;
  transition-delay: 0s;
  font-size: 8.5pt;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}



/* mobile menu */

#mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 60px;
  bottom: 0;

  width: 255px;
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
  overflow: auto;

  box-shadow: inset -9px 0 14px -2px rgba(0, 0, 0, 0.5);
  border-right: 1px solid black;
}

#mobile-nav > div {
  margin: 18px 0;
}

#mobile-nav > div li, #mobile-nav > div .nav-img-li {
  float: none !important;
  padding: 0 25px !important;
}

#mobile-nav > div .nav-image {
  margin-bottom: -6px;
}

#mobile-nav .nav-image {
  height: 24px;
  width: 24px;
}

#mobile-nav > div a {
  color: rgb(231, 232, 242);
  line-height: 50px;
  font-size: 14px;
  text-decoration: none;
}

#mobile-nav > div li.visited {
  color: white;
  font-weight: bold;
  background-color: #000;
}
#mobile-nav > div li.visited .nav-image {
  opacity: 1;
}

body.mobile-menu-shown {
  /*overflow: hidden;*/
}
body.mobile-menu-shown #main-wrapper {
  -webkit-transform: translate(256px, 0px);
   -ms-transform: translate(256px, 0px);
  transform: translate(256px, 0px);
}

.advertisement-bottom {
  margin-top: 25px;
  text-align: center;
}


#query .language {
  font-style: italic;
  color: #444444;
}
/* question or answer word */
#query-question, #query-answer, #query-answer-buttons {
  font-size: 35px;
}

#query-label-selection {
  width: calc(50% - 12.5px); 
  float: left; 
}
#query-list-selection {
  width: calc(50% - 12.5px); 
  float: right; 
}

.small-menu {
  position: absolute;
  right: 20px;
}
.width-auto {
  width: auto;
}





.unselectable, .box-table.clickable td {
  cursor: default;

  /* make text not selectable */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.cc_banner {
  border-bottom: 3px solid black;
}

.smaller-800 {
  display: none;
}

.spacer-top-15 {
  margin-top: 15px;
}

.spacer-bottom-15 {
  margin-bottom: 15px;
}

.spacer-bottom-5 {
  margin-bottom: 5px;
}

.spacer-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.spacer-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.padding-v-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.width-150, .width-150px {
  width: 150px;
}

.width-110 {
  width: 110px;
}

.no-box-shadow {
  box-shadow: none !important;
}

@media screen {
  .checkbox-wrapper {
    cursor: pointer;
  }
}


input[type=text]:first-child:last-child {
  width: calc(100% - 16px);
}

input[type=text]:first-child:last-child.inline-both {
  width: calc(100% - 2px);
}

.font-size-20px {
  font-size: 20px !important;
}

.height-hidden {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
  border-bottom: 0;
}

@media screen and (max-width: 950px) {

  #query-label-selection, #query-list-selection {
    width: auto; 
    float: none; 
  }
  #query-list-selection {
    margin-top: 25px;
  }
}


.show-mobile {
  display: none; 
}


/*@media screen and (min-width: 800px) {
  .smaller-800 {
    display: none !important;
  }
}
@media screen and (max-width: 800px) {
  .smaller-800 {
    display: block;
  }
}*/





/*****************
 * Mobile design 
 *****************/

@media screen and (max-width: 700px) {
  .show-mobile {
    display: block; 
  }

  .hide-below-700, .hide-mobile {
    display: none !important;
  }

  span.tooltip {
    display: none;
  }
  

  /* make word list title stick to the top navigation without any space between */
  div#word-list-title {
    margin-top: 0;
  }



  .table-icon {
    visibility: visible;
  }


  #scroll-top-button {
    cursor: default;
    right: 10px;
    height: 16px;
    width: 16px;
  }

  #scroll-top-button.scrolled {
    bottom: 10px;
  }
  #scroll-top-button > img {
    height: 16px;
    width: 16px;
  }


  .box .box-head img.box-head-right-icon, #word-list-menu-back {
    top: 14.5px;
    height: 20px;
    width: 20px;
  }

  #word-list-menu-back {
    left: 25px !important;
  }

  #word-list-title-name {
    padding: 0 0 0 55px;
  }

  .navbar {
    background-color: #8892BF;
    border-width: 0;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    height: 56px;
  }
  
  .navbar .navbar-inner .logo { 
    height: 34px;
    margin-top: 10px;
    float: none;
    position: absolute;
    left: -12px;
  }
  
  .box {
    margin-top: 10px;
  }

  .main.content-width {
    padding-bottom: 106px;
  }
  
  .left-column, .right-column, .left-column-small, .right-column-big {
    float: none;
    width: 100% !important;
  }
  
  .cookie-header {
    width: calc(100% - 50px);
    padding: 25px;
  }

  /*.navbar .navbar-inner .nav li {
  padding: 10px 10px;
}*/

  .smaller-800, #head-nav ul.nav {
    display: none;
  }
  .navbar .menu-button {
    display: block;
  }
  .logo {
    margin-left: 82px !important;
  }
  .nav, .nav li {
    float: none !important;
  }

  .content-width {
    width: initial;
  }
}
@media screen and (min-width: 701px) {
  ul.nav {
    display: block !important;
  }
}



/* very small smartphones */

@media screen and (max-width: 500px) {
  
  .box .box-table:not(.no-flex) td, .box .box-table:not(.no-flex) th {
    display: inline-block;
  }

  .box .box-table.button-right-column:not(.no-flex) td:last-child {
    float: right;
  }

  .tour-container h2 {
    font-size: 22px;
  }
  
  /* show home-page tour columns as one column */
  .tour-element .col-l, .tour-element .col-r {
    float: none;
    width: 100%;
  }
}


@-webkit-keyframes slideDown {
  0% { -webkit-transform: translateY(-50px); }
  100% { -webkit-transform: translateY(0); }
}

@-moz-keyframes slideDown {
  0% { -moz-transform: translateY(-50px); }
  100% { -moz-transform: translateY(0); }
}
