* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  word-wrap: break-word;

  
  z-index: 100;

  /* Firefox */
  -moz-transition: all .2s ease-in;
  /* WebKit */
  -webkit-transition: all .2s ease-in;
  /* Opera */
  -o-transition: all .2s ease-in;
  /* Standard */
  transition: all .2s ease-in;
}

html, body, #main-wrapper {
  background-color: #ECEFF1;
}

#main-wrapper {
  position: relative;
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.footer {
  text-align: center;
  color: #555555;
  font-weight: bold;
}
.footer a {
  text-decoration: none;
  color: #555555;
  font-weight: normal;
}
.footer a:hover {
  color: #000000;
}
.footer hr {
  width: 300px;
  margin: 8px auto;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.icon-button {
  width: 32px;
  height: 32px;
}

hr {
  background: #38426F;
  width: 100%;
  height: 1px;
  border-width: 0;
}

ul {
  list-style: none;
}

ul.social-icons li {
  float: left;
  padding: 20px;
}

.bold {
  font-weight: bold;
}

.content-width {
  width: calc(100% - 50px);
  max-width: 1170px;
  margin: auto;
}
.main.content-width {
  padding-bottom: 25px;
}

.navbar {
  position: relative;

  /*height: 56px;*/

  width: 100%;

  padding: 0;

  font-size: 12pt;

  background-color: #8892BF;
  border-style: solid;
  border-width: 0 0 5px 0;
  border-color: #4F5B93;
  box-shadow: inset 0 -1px 0 #4F5B93;

}

.navbar .navbar-inner {
  position: relative;
}

.navbar .navbar-inner li {
  color: #FFFFFF;
  opacity: 0.8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-weight: bold;
  
  transition-duration: 0s;
}
.navbar .navbar-inner li:hover, .navbar .navbar-inner li:hover .nav-image  {
  opacity: 1;
}
.navbar .navbar-inner li:hover {
  background: rgba(79, 91, 147, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(111, 123, 179, 0.5)), to(rgba(79, 91, 147, 0.5)));
  background: -moz-linear-gradient(top, rgba(111, 123, 179, 0.5), rgba(79, 91, 147, 0.5));
}

.navbar .navbar-inner .logo {
  float: left;
  height: 46px;
  margin: 5px 30px 5px 0;
}

.navbar .navbar-inner .nav {
  position: relative;
  margin: 0;
  list-style: none;
}
.navbar .navbar-inner .nav.left {
  left: 0;
  float: left;
}
.navbar .navbar-inner .nav.right {
  right: 0;
  float: right;
}
.navbar .navbar-inner .nav li {
  padding: 22px 10px 18px;
  line-height: 16px;
  font-size: 16px;
  float: left;
}
.navbar .navbar-inner .nav li.visited {
  background: #4F5B93;
  background: -webkit-gradient(linear, left top, left bottom, from(#6F7BB3), to(#4F5B93));
  background: -moz-linear-gradient(top,  #6F7BB3,  #4F5B93);
}
.navbar .navbar-inner .nav li.visited, .navbar .navbar-inner .nav li.visited .nav-image {
  cursor: default;
  opacity: 1;
}

.navbar .menu-button {
  position: absolute;
  top: 12px;
  left: 25px;
  display: none;
  cursor: pointer;
}


.nav-img-li {
  padding: 12px 10px 9px !important;
}

.nav-image {
  opacity: 0.8;
  height: 32px;
  width: 32px;
  transition-duration: 0s;
}


body > .main {
  position: relative;
  margin-bottom: 57px;
  margin-bottom: 25px;
}

.box {
  position: relative;
  margin: 25px 0 0 0;
  color: #263238;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.box-body.green-shadow {
  box-shadow: inset 5px 5px 10px #00C100, inset -5px -5px 10px #00C100;
}

.box .box-head {
  line-height: 18px;
  font-weight: bold;
  padding: 15px;
  background-color: #F3F5F6;
  border-bottom: 1px solid #ECEFF1;
}
.box .box-head.active {
  border-bottom: 0;
  background-color: #4F5B93;
  color: white;
  text-align: center;
}
.box .box-head.green {
  background-color: #5DCC57;
}
.box .box-head.red {
  background-color: #EF3939;
}
.box .box-head img.box-head-background {
  margin: -7px;
  margin-right: 7px;
}
.box .box-head img:first-child:not(.box-head-right-icon) {
  height: 32px;
  width: 32px;
  margin: -8px 10px -11px -6px;
  opacity: 0.8;
}
.box .box-head img.box-head-right-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 12.5px;
  opacity: 0.09;
  display: none;
  cursor: pointer;
}
.box .box-head img.box-head-right-icon:hover {
  opacity: .7;
}
.box .box-head img.box-head-right-icon:active {
  opacity: 1;
}
.box .box-head img.box-head-right-icon:last-child {
  right: 12.5px;
}

.box .box-head img.box-head-right-icon:nth-last-child(2) {
  right: 49px;
}

.box .box-body {
  padding: 15px;
  background-color: #FFFFFF;
  font-size: 11pt;
}

.box .box-body[data-start-state=collapsed] {
  display: none;
}

/* box-table */
.box .box-table {
  width: 100%;

  border-spacing: 0;
  border-collapse: separate;
}

.box .box-table td, .box .box-table th {
  padding: 11px;
}


@media screen {
  .box .box-table.cursor-pointer td {
    cursor: pointer;
  }
}
.box .box-table.cursor-pointer tr.cursor-default th, .box .box-table.cursor-pointer tr.cursor-default td {
  cursor: default;
}

.box .box-table tr:hover:not(.cursor-default), .box .box-table tr.active {
  background-color: rgba(136, 149, 189, 0.05);
}

.box .box-table tr:not(:first-child) td {
  border-top: 1px solid #8892BF;
}

.box .box-table tr.active {
}
.box .box-table tr.active td:first-child {
  box-shadow: inset 8px 0 0 #4F5B93;
}

.box-table.button-right-column td:last-child {
  text-align: right;
  padding-right: 5px;
  white-space: nowrap;
}

.box-table.clickable td:hover:not(.cursor-default), .box-table.cursor-pointer tr:hover:not(.cursor-default) {
  color: #4F5B93;
}

.left-column {
  float: left;
  width: calc(70% - 25px);
}
.right-column {
  float: right;
  width: 30%;
}


.left-column.width-50 {
  width: calc(50% - 25px);
}
.right-column.width-50 {
  width: 50%;
}


.left-column.width-30 {
  width: 30%;
}
.right-column.width-70 {
  width: calc(70% - 25px);
}

form table {
  width: 100%;
}

form table input {
  width: calc(100% - 16px);
}

p:not(:last-child), ul.normal:not(:last-child) {
  margin-bottom: 24px;
}

.main > div:not(:first-child) {
  display: none;
}

.screenshot {
  max-width: 100%;
  cursor: pointer;
}

ul.normal {
  list-style-type: disc;
  margin-left: 25px;
}

img.right-column-img {
  width: 100%;
}
div.right-column-img-wrapper {
  width: 50%;
  max-width: 315px;
  margin: auto;
  margin-bottom: 25px;
}

.cookie-header {
  color: #FFFFFF;
  background: #222222;
  border-bottom: 1px solid #000000;
  padding: 25px 0 30px;
  position: fixed;
  width: 100%;
  z-index: 110;
  bottom: -5px;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px #000000;
  transition: opacity 1s;
}

.cookie-header table {
  width: 100%;
}

.cookie-header td:last-child {
  padding-left: 25px;
  text-align: right;
}
.cookie-header a, .cookie-header a:visited {
  color: #31A8F0;
  text-decoration: none;
}
.cookie-header a:hover {
  color: #DDDDDD;
}
.cookie-header a:active {
  color: #FFFFFF;
}

.small-exp-col-icon {
  height: 16px;
  width: 16px;
  opacity: 0.6;
  cursor: pointer;
}

.checkbox {
  height: 8px;
  width: 8px;
  display: inline-block;
  background-image: url('/img/check-16.svg');
  background-size: contain;
}

.small-menu {
  padding: 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.small-menu input:not(:last-child) {
  margin-bottom: 5px; 
}

.small-menu-open-image {
  cursor: pointer;
  height: 25px;
  margin-top: -7px;
  margin-bottom: -7px;
}

.feed-table td:first-child {
  text-align: center;
  width: 20px;
}
.feed-table img {
  height: 20px;
  opacity: 0.9;
}


/* mobile menu */

#mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  width: 255px;
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
  height: 100%;
  overflow: auto;
  z-index: 90;

  box-shadow: inset -9px 0 14px -2px rgba(0, 0, 0, 0.5);
  border-right: 1px solid black;
}

#mobile-nav > div {
  margin: 25px;
}

#mobile-nav > div > *:first-child, #mobile-nav > div > *:nth-child(2) {
  display: none !important;
}

#mobile-nav > div li, #mobile-nav > div .nav-img-li {
  float: none !important;
  padding: 20px 0 !important;
}

#mobile-nav > div .nav-image {
  margin-bottom: -8px;
}

#mobile-nav > div a {
  color: rgb(231, 232, 242);
  line-height: 20px;
  font-size: 20px;
  text-decoration: none;
}



#mobile-nav > div li.visited {
  color: white;
  font-weight: bold;
}

body.mobile-menu-shown {
  overflow: hidden;
}

body.mobile-menu-shown #main-wrapper {
  transform: translate3d(256px, 0px, 0px);
}

.advertisement-bottom {
  margin-top: 25px;
  text-align: center;
}


#query .language {
  font-style: italic;
  color: #444444;
}
/* question or answer word */
#query-question, #query-answer, #query-answer-buttons {
  font-size: 35px;
}

#query-label-selection {
  width: calc(50% - 12.5px); 
  float: left; 
}
#query-list-selection {
  width: calc(50% - 12.5px); 
  float: right; 
}

.small-menu {
  position: absolute;
  right: 20px;
}
.width-auto {
  width: auto;
}





.unselectable, .box-table.clickable td {
  cursor: default;

  /* make text not selectable */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.initial-width {
  width: initial;
}
.initial-height {
  height: initial;
}

.display-block {
  display: block;
}
.display-none {
  display: none;
}

.text-align-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.cc_banner {
  border-bottom: 3px solid black;
}

.width100 {
  width: 100%;
}

.clear-both {
  clear: both;
}

div.center {
  margin: auto;
}

.smaller-800 {
  display: none;
}

.spacer-top-15 {
  margin-top: 15px;
}

.spacer-bottom-15 {
  margin-bottom: 15px;
}

.spacer-bottom-5 {
  margin-bottom: 5px;
}

.spacer-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.width-150, .width-150px {
  width: 150px;
}

.width-110 {
  width: 110px;
}

.no-box-shadow {
  box-shadow: none !important;
}

@media screen {
  .checkbox-wrapper {
    cursor: pointer;
  }
}


input[type=text]:first-child:last-child {
  width: calc(100% - 16px);
}

.width-100 {
  width: 100%;
}

.width-33 {
  width: 33.3333%;
}

.width-100px {
  width: 100px;
}

.height-50px {
  height: 50px;
}

.font-size-20px {
  font-size: 20px !important;
}

.inline {
  display: inline;
}

.height-hidden {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
  border-bottom: 0;
}

@media screen and (max-width: 950px) {
  .left-column {
    width: calc(50% - 25px) !important;
  }
  .right-column {
    width: 50% !important;
  }
  

  #query-label-selection, #query-list-selection {
    width: auto; 
    float: none; 
  }
  #query-list-selection {
    margin-top: 25px;
  }
}

@media screen and (min-width: 800px) {
  .smaller-800 {
    display: none !important;
  }
}
@media screen and (max-width: 800px) {
  .smaller-800 {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .left-column, .right-column {
    float: none;
    width: 100% !important;
  }
  .cookie-header {
    width: calc(100% - 50px);
    padding: 25px;
  }

  .hide-below-700 {
    display: none;
  }

  /*.navbar .navbar-inner .nav li {
  padding: 10px 10px;
}*/

  .smaller-800, #head-nav ul.nav {
    display: none;
  }
  .navbar .menu-button {
    display: block;
  }
  .logo {
    margin-left: 82px !important;
  }
  .nav, .nav li {
    float: none !important;
  }

  .content-width {
    width: initial;
  }
}
@media screen and (min-width: 701px) {
  ul.nav {
    display: block !important;
  }
}
@-webkit-keyframes slideDown {
  0% { -webkit-transform: translateY(-50px); }
  100% { -webkit-transform: translateY(0); }
}

@-moz-keyframes slideDown {
  0% { -moz-transform: translateY(-50px); }
  100% { -moz-transform: translateY(0); }
}
